<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>志愿活动展示</title>

<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>

{% extends 'Base.html' %}
{% block content%}
	<div class="breadcrumb-sec" style="background:url(/static/assets/extra-images/banner.jpg) no-repeat; background-size:100% auto; min-height:157px!important;">
		<div class="absolute-sec">
			<div class="container">
				<div class="cs-table">
					<div class="cs-tablerow">
						<div class="pageinfo page-title-align-left">
							<h1 style="color:#fff !important; text-transform:none;">志愿活动公示</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="container">
					<div class="row">
						<div class="section-fullwidth">
							<div class="cs-content-holder">
								<div class="row">
									<div class="col-lg-9">

										<section class="cs-result relevent">
											<div class="content">
												<h2>志愿活动列表</h2>
												<div class="row">
												    {% if volu_list %}
												{% for Volunteer in volu_list %}
													<article class="col-lg-12">
														<div class="cs-media">
														  <figure> <img src="/static/assets/extra-images/services-list{{ forloop.counter }}.png" alt="#"></figure>
														</div>
														<div class="cs-description">
															<div class="post-option">

																<h2>{{ Volunteer.Vl_name }}</h2>
															</div>
															<p>{{ Volunteer.Vl_detail }}</p>
															<a href="#">完成人：{{ Volunteer.Vl_user.phone_number }}</a>
														</div>
													</article>
													{% endfor %}
													{% else %}
													暂无志愿活动记录
													{% endif %}
												</div>
											</div>
										</section>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
</body>
</html>