<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>手续费规则</title>

<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
{% extends 'Base.html' %}
{% block content%}
	<div class="breadcrumb-sec" style="background:url(/static/assets/extra-images/banner.jpg) no-repeat; background-size:100% auto; min-height:157px!important;">
		<div class="absolute-sec">
			<div class="container">
				<div class="cs-table">
					<div class="cs-tablerow">
						<div class="pageinfo page-title-align-left">
							<h1 style="color:#fff !important; text-transform:none;">公告</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="container">
					<div class="row">
						<div class="section-fullwidth col-lg-12">
							<div class="cs-content-holder">
								<div class="row">
									<div class="col-lg-12">
										<div class="main-heading top-center">
											<h1>手续费规则</h1>
											<strong class="title">手续费分为固定费用和灵活费用。灵活费用随时变化，但少于0.10000000币。</strong>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6">
										<div class="cs-services morden top-center">
											<figure>
												<img src="/static/assets/extra-images/services-box1.jpg" alt="#">
												<figcaption>
													<div class="service-number">
														<span>1</span>
													</div>
												</figcaption>
											</figure>
											<div class="text">
												<h2>创建新项目</h2>
												<p>收取10.00000000币的固定费用，同时收取灵活费用。</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6">
										<div class="cs-services morden top-center has-border">
											<figure>
												<img src="/static/assets/extra-images/services-box2.jpg" alt="#">
												<figcaption>
													<div class="service-number">
														<span>1</span>
													</div>
												</figcaption>
											</figure>
											<div class="text">
												<h2>向项目捐款</h2>
												<p>不收取固定费用，只收取灵活费用。</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6">
										<div class="cs-services morden top-center has-border">
											<figure>
												<img src="/static/assets/extra-images/services-box3.jpg" alt="#">
												<figcaption>
													<div class="service-number">
														<span>1</span>
													</div>
												</figcaption>
											</figure>
											<div class="text">
												<h2>结算项目</h2>
												<p>不收取任何费用。</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
	</main>
{% endblock %}

</body>
</html>