<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>记录志愿活动</title>

<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
{% extends 'Base.html' %}
{% block content%}
<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="profile-pages">
					<div class="container">
						<div class="row">
							<div class="section-fullwidth col-lg-12">
								<div class="cs-content-holder">
									<div class="row">
										<div class="cause-holder">
											<div class="col-lg-12">
												<div class="cs-auther">
													<figure>
														<a href="#"><img src="/static/assets/extra-images/auther1.jpg" alt="#"></a>
													</figure>
													<div class="text">
														<h3>{{ request.session.username }}</h3>
													</div>
												</div>
												<div class="right-sec">
													<ul class="cs-donations">
                                                        <li>
															<span>账户余额</span>
															<strong>{{ coins }}币</strong>
                                                        </li>

														<li>
															<span>区块链地址</span>
															<strong>{{ address }}</strong>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="profile-block">
													<ul class="scroll-nav">
													<li class="active"><a href="{% url 'usermana:start' %}"><i class="icon-star-o"></i>创建志愿活动</a></li>
															<li><a href="{% url 'projects:start' %}"><i class="icon-star-o"></i>创建新项目</a></li>

															<li><a href="{% url 'accounts:donate' %}"><i class="icon-money"></i>我的捐赠</a></li>
															<li><a href="{% url 'accounts:index' %}"><i class="icon-gear"></i>我的项目</a></li>

															<li><a href="{% url 'login:logout' %}"><i class="icon-sign-in"></i>注销</a></li>
														</ul>
													<form action="{% url 'usermana:start' %}" method="post">
														<div class="cs-profile-area">
															<div class="cs-title no-border">
																<h3>创建志愿活动</h3>
															</div>
															<div class="cs-profile-holder">
																<div class="gallery-area">
																	<ul class="cs-element-list has-border wout-label">
																	</ul>
																</div>
																<ul class="cs-element-list has-border">
																	<li>
																		<label>活动名称</label>
																		<div class="fields-area">
																			<div class="field-col col-md-12">
																				<input type="text" id="name" name="name">
																				<span class="char-remain">请简明地说明您的情况。</span>
																			</div>
																		</div>
																	</li>
																	<li>
																		<label>活动细节</label>
																		<div class="fields-area">
																			<div class="field-col col-md-12">
																				<textarea type="text" id="detail" name="detail"></textarea>
																			</div>
																		</div>
																	</li>
																</ul>
																<ul class="cs-element-list has-border">
																<li>
																		<label>注意事项 &amp;<br> 条款</label>
																		<div class="fields-area">
																			<div class="field-col col-md-12">
																				<p>所有志愿活动信息将被公示</p>
																				<div class="checkbox-area">
																					<input type="checkbox" id="conditions">
																					<label for="conditions">接受<a href="#">服务条款</a></label>
																				</div>
																			</div>
																		</div>
																	</li>
																</ul>

																<ul class="cs-element-list cs-submit-form">
																	<li>
																		<div class="fields-area">
																			<div class="field-col col-md-4">
																				<input class="csbg-color cs-btn" type="submit" value="提交">
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
</body>
</html>