<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>我的项目</title>
<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
{% extends 'Base.html' %}
{% block content%}
	<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="profile-pages">
					<div class="container">
						<div class="row">
							<div class="section-fullwidth col-lg-12">
								<div class="cs-content-holder">
									<div class="row">
										<div class="cause-holder">
											<div class="col-lg-12">
												<div class="cs-auther">
													<figure>
														<a href="#"><img src="/static/assets/extra-images/auther1.jpg" alt="#"></a>
													</figure>
													<div class="text">
														<h3>{{ request.session.username }}</h3>

													</div>
												</div>
												<div class="right-sec">
													<ul class="cs-donations">
														 <li>
															<span>账户余额</span>
															<strong>{{ coins }}币</strong>
                                                         </li>

														<li>
															<span>区块链地址</span>
															<strong>{{ address }}</strong>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="profile-block">
													<ul class="scroll-nav">
													        <li class="active"><a href="{% url 'accounts:index' %}"><i class="icon-gear"></i>我的项目</a></li>
															<li><a href="{% url 'projects:start' %}"><i class="icon-star-o"></i>创建新项目</a></li>

															<li><a href="{% url 'accounts:donate' %}"><i class="icon-money"></i>我的捐赠</a></li>

                                                        <li><a href="{% url 'usermana:start' %}"><i class="icon-star-o"></i>创建志愿活动</a></li>
															<li><a href="{% url 'login:logout' %}"><i class="icon-sign-in"></i>注销</a></li>
														</ul>
													  <div class="cs-profile-area">

														<div class="cs-profile-holder">
														  <div class="cs-ads-area">
                                                          {% if my_project and my_project.pjts_bool %}
															<article>
															<div class="post-main">
															  <!-- <a href="#" class="cs-fav-btn"></a> -->
															  <figure>
																<a href="#"><img alt="" src="/static/assets/extra-images/causes-list1.jpg"></a>
															  </figure>
															  <div class="detail-area">
																<div class="ads-title">

																  <div class="text">


																	<h3><a href="{% url 'projects:detail' my_project.id %}">{{ my_project.pjts_name }}</a></h3>

																	<ul class="post-details">
																	  <li>已筹 {{ my_project.pjts_nowcoins|floatformat }} 币</li>
																	  <li><i class="cscolor icon-target5"></i>目标 {{ my_project.pjts_coins|floatformat }}币</li>
																	  {% widthratio my_project.pjts_nowcoins my_project.pjts_coins 100 as width %}
																	  <li><i class="cscolor icon-clock7"></i> 开始日期 {{ my_project.pjts_time|date:"Y-m-d" }} </li>
																	</ul>
																	<span class="bar"><span style="width:{{ width }}%;"></span></span>
																  </div>

																</div>

															  </div>
															  </div>
                                                              {% if helper_list %}
															  <div class="edit-area">
																<a href="#" class="coll">已有 {{ helper_list|length }} 人伸出援手</a>
																<ul class="edit-opts">

																  <li class="active-ad"><a href="{% url 'accounts:settle' %}">立即结算</a></li>
																</ul>
																<div class="cs-profile-holder">
																	<div class="cs-table-holder">

																		<table>
																			<thead>
																				<tr>
																					<th>#</th>
																					<th>捐赠人</th>
																					<th>捐赠金额</th>
																					<th>日期</th>
																					<th>附言</th>
																				</tr>
																			</thead>
																			<tbody>
																			 {% for investbill in helper_list %}
																				<tr>
																					<td>{{ forloop.counter }}</td>
																					<td>{{ investbill.iv_from.phone_number }}</td>

																					<td>{{ investbill.iv_coins }}币</td>
																					<td>{{ investbill.iv_time|date:"Y-m-d"}}</td>
																					<td>{{ investbill.iv_ps }}</td>
																				</tr>
																			{% endfor %}

																			</tbody>
																		</table>

																	</div>
																</div>
															  </div>
                                                            {% else %}
																		此项暂无
																		{% endif %}
															</article>
                                                           {% else %}
																  此项暂无
														{% endif %}
														  </div>
														</div>
													  </div>
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
	</main>
{% endblock %}
</body>
</html>