/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#carousel .slides > li {margin: 0 11px 0 0;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { background: #fff; border: none; position: relative; zoom: 1; padding: 0; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav li { list-style: none; }
.flex-direction-nav {
    position: absolute;
    right: 0;
    top: -74px;
}
.flex-direction-nav a  {
	text-decoration:none;
	display: block;
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;
}
.flexslider.carousel .flex-direction-nav a {
	opacity: 1;
	background: #fff;
	border-left: 1px solid #f2f2f2;
	margin: 0;
	line-height: 49px;
	height: 49px;
}
.flexslider.carousel .flex-direction-nav a.flex-prev:before,
.flexslider.carousel .flex-direction-nav a.flex-next:before {
	position: absolute;
	top: 0;
	left: 15px;
	content: "\eaaa";
	font-family: "icomoon";
	font-size: 12px;
	color: #8d8d8d;
}
.flexslider.carousel .flex-direction-nav a.flex-next:before {
	content: "\eaad";
}
.flexslider.carousel .flex-direction-nav li {
	float: left;
}
.flexslider.carousel .flex-direction-nav .flex-prev {
	left: -10px;
    top: 4px;
    width: 40px;
}
.flexslider.carousel .flex-direction-nav .flex-next {
	right: 10px;
    top: 4px;
}
.flexslider.carousel {
	padding:0 20px;
}
.flex-direction-nav a:hover { opacity: 0.8; }
.flex-direction-nav .flex-prev { left: 40px; }
.flex-direction-nav .flex-next { right: 40px; text-align: right; background-position: 0px -70px; }
.flex-direction-nav .flex-disabled { cursor: default; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging { display: none; }
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


.cs-blog .flex-direction-nav a {
	background-color: rgba(0,0,0,0.30);
	color: #fff;
	font-size: 20px;
	height: 30px;
	line-height: 35px;
	margin: -50px 0 0;
	opacity: 1;
	text-align: center;
	top: 100%;
	width: 30px;
}
.cs-blog .flex-control-paging, .blog-editor .flex-control-paging {
	display: block;
}
.cs-blog .flex-control-nav li, .blog-editor .flex-control-nav li{
	width: auto;
	border: 2px solid #3e3243;
	padding: 2px;
	border-radius: 20px;
	margin: 0 3px;
}
.cs-blog .flex-control-nav, .blog-editor .flex-control-nav {
	bottom: 16px;
}
.cs-blog .flex-control-paging li a, .blog-editor .flex-control-paging li a {
	width: 8px;
	height: 8px;
	background-color: rgba(0,0,0,0.4);
}
.cs-blog .flex-direction-nav {
	bottom: 0;
	position: absolute;
	right: 20px;
	top: auto;
	width: 60px;
	left: auto;
}

.blog-medium .flex-direction-nav{display: none;}
.cs-blog .flex-direction-nav .flex-prev { left: 0px; }
.cs-blog .flex-direction-nav .flex-next { right: -33px; }
.cs-blog .flex-direction-nav li { float: left; }
