
.page-sidebar .widget-section-title h2 {
	font-weight: bold;
	margin: 0px;
	color: #333;
	font-size: 16px;
}
.page-sidebar .widget-customize{
	background:#f6f6f6;
	padding:14px 20px;
	margin: 0 0 20px;
}
.page-sidebar .widget-customize .widget-section-title { 
	border:none; 
	text-align:center;
	padding:0;
	margin:0;
}
.page-sidebar .widget-customize fieldset{
	float: left;
	width: 100%;
}
.widget ul li { list-style: none; }

/* All Widget Style */
/*.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_categories ul li,
.widget_nav_menu ul li a,
.widget_archive ul li,
.widget_pages ul li a,
.widget_meta ul li,
.widget_rss ul li {
	float: left;
	width: 100%;
	text-align: right;
	padding: 8px 16px;
	border-top: 1px solid #f2f2f2;
	position: relative;
}*/
.widget_recent_comments ul li:first-child,
.widget_recent_entries ul li:first-child,
.widget_nav_menu ul li:first-child a,
.widget_pages ul li:first-child a,
.widget_archive ul li:first-child,
.widget_meta ul li:first-child,
.widget_rss ul li:first-child { border-top: none; padding-top: 0px; }



.widget_recent_comments ul li a,
.widget_recent_entries ul li a,
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_rss ul li {
	text-align: left;
}
/* Widget Select Style */
/*.page-sidebar .widget select {
    margin: 0 0 12px 16px;
    width: 87%;
}*/
.page-sidebar .widget select option { padding: 5px 0px; }

/* Widget Rss Style */
.rss-date {
	display: block;
	font-weight: bold;
}
/* Widget Search Style */
.widget_search .cs-search-area input[type="text"],
.widget_search .cs-search-area {
	float: left;
	width: 100%;
}
.widget_search .cs-search-area { padding: 0px 16px 10px 16px; }
.widget_search .cs-search-area input[type="text"] { margin: 0px 0px 10px 0px; }
.widget_search .cs-search-area input[type="submit"] { color: #ffffff; }
.widget_text p img,.wp-caption img {
	float: left;
	width: 100%;
	height: auto;
}
.widget_text .wp-smiley { width: auto; }
.page-sidebar .textwidget { padding: 0px 16px 5px 16px; }
/* Widget Recent Blog Style */
.recentblog_post ul li figure,
.recentblog_post ul li,
.recentblog_post ul {
	float: left;
	width: 100%;
}
.recentblog_post ul li {
	padding: 0px 16px 5px 16px;
	margin: 0px 0px 4px 0px;
}
.recentblog_post ul li:last-child { margin: 0px; padding-bottom: 0px; }
.recentblog_post ul li figcaption {
	position: absolute;
	left: 0px;
	bottom: 15px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
}
.recentblog_post ul li figcaption h5 {
	float: left;
	width: 80%;
	padding: 5px 0px 0px 10px;
}


/* Asif styleSheet */


/* Widget Categories Style */
.page-sidebar .widget {
	display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.widget ul li {
	list-style: none;
	position: relative;
	float: left;
}
.widget-section-title {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.widget-section-title h4 {
	color: #333;
}
.widget-section-title h2 {
	text-transform: uppercase;
	margin-bottom: 0px;
}
.widget_categories ul li, .widget_pages ul li a, .widget_meta ul li, .widget_recent_comments ul li, 
.widget_archive ul li, .widget_nav_menu ul li a, .widget_recent_entries ul li {
	float: left;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px dotted #ededed;
	margin-bottom: 0px;
	position: relative;
}
.widget_pages ul li {
	width: 100%;
	float: left;
}
.widget ul li .sub-menu{
	margin-left: 20px;
}
.widget_categories ul li {
	text-align: right;
	padding-left: 16px;
}
.widget_categories ul li:before {
	content: "\eab1";
	position: absolute;
	left: -4px;
	top: 9px;
	font-size: 16px;
	color: #999;
	font-family: 'icomoon';
}
.widget_categories ul li:first-child, .widget_meta ul li:first-child {
	border-top: 1px dotted #ededed;
}
.widget_categories ul li i {
	float: left;
	margin: 4px 4px 0 0;
	color: #999;
	font-size: 16px;
}
.widget_categories ul li a {
	float: left;
	position: relative;
}
.widget_categories ul li span {
	min-width: 30px;
	min-height: 24px;
	float: right;
	color: #666;
	line-height: 24px;
	text-align: center;
	font-size: 11px;
	background-color: #ededed;
}
.widget_categories ul li:hover span {
	color: #fff;
}
.widget_categories ul li, .widget_categories ul li a, .widget_pages ul li a, .widget_meta ul li a, 
.widget_archive ul li a, .widget_nav_menu ul li a, .widget_rss ul li, .widget_text .textwidget p, 
.widget_blog p, .widget-gallery, .widget_recent_entries ul li a {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.widget_recent_comments ul li span{
	color: #666;
}
.widget_recent_comments ul li a {
	color: #223d7b;
	font-weight: 400;
}
.widget_recent_comments ul li {
	color: #999;
}
.widget_recent_comments ul li time {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
}

/* Widget Nav Menu Style */ 

.widget_nav_menu ul li a i {
    color: #999;
    margin: 0 6px 0 0;
}
.widget_nav_menu ul li {
	float: left;
	width: 100%;
}
.textwidget p strong {
    float: left;
    font-weight: normal;
    margin-bottom: 10px;
    width: 100%;
}
.widget.widget_text img {
    height: auto;
    width: 100%;
}
.textwidget p img {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.wp-smiley {
    margin: 5px 5px 5px 0;
    width: auto !important;
}
.widget_text .textwidget p {
    margin-bottom: 18px;
}
.widget_rss ul li a {
    border-bottom: 1px dotted;
    color: #b8b8b8;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.page-sidebar .widget_rss .rss-date {
    color: #b8b8b8;
    float: left;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}
/* Widget Recent Blog Style */ 

.widget-recent-blog article {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.widget-recent-blog article:last-child {
	margin-bottom: 0px;
}
.widget-recent-blog article figure, .widget-recent-blog article figure img {
	float: left;
	width: 64px;
	margin-bottom: 0px;
}
.widget-recent-blog article figure ~ .text {
	padding: 0 0 0 78px;
}
.widget-recent-blog article .text h4 {
	text-transform: uppercase;
	margin-bottom: 5px;
}
.widget-recent-blog article .text h4 a {
	color: #333;
}
.widget-recent-blog article .text ul li {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #ccc;
	line-height: 16px;
}
.widget-recent-blog article .text ul li a, .widget-recent-blog article .text ul li time {
	text-transform: uppercase;
	font-size: 12px;
}
.widget-recent-blog article .text ul li a{
	float: none;
}
.widget-recent-blog article .text ul li time {
	color: #999;
}

/* Widget Gallery Style */ 

.widget_gallery .gallery-list {
	float: left;
	width: 100%;
	margin-left: -2px;
}
.widget_gallery .gallery-list li {
	margin: 0 0 2px 2px;
}

/* Widget Twitter Style */ 

.twitter_widget li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0px 0px 12px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}
.twitter_widget li p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
}
.twitter_widget li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.twitter_widget li .infotext span {
	font-size: 11px;
	color: #999;
}
.twitter_widget li .infotext span i {
	font-size: 14px;
	color: #03b4ea;
	margin: -2px 8px 0 0;
	vertical-align: middle;
	display: inline-block;
}
.twitter_widget li .infotext span small {
	font-size: 14px;
}

/* Widget Calendar Style */

#calendar_wrap {
	float: left;
	width: 100%;
}
#wp-calendar { margin: 0px; }
.widget_calendar caption {
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	padding-left: 12px;
	border: 2px solid #fff;
	border-bottom: none;
}
.widget_calendar tfoot tr td {
	border: none;
	padding: 0px;
}
.widget_calendar thead tr th,.widget_calendar tbody tr td {
	padding-left: 0px;
	text-align: center;
	border: 2px solid #fff;
}
.widget_calendar thead tr th{
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	background-color: #4f4a9c;
	line-height: 3.3;
}
.widget_calendar tbody tr td  {
	background-color: #f3f3f3;
	color: #4c5246;
}
.widget_calendar tbody tr td.active {
	background-color: #4f4a9c;
	color: #fff;
}
.widget_calendar tbody tr td.pad{
	color: #c7c7c7;
}
.widget_calendar tfoot{
	display: none;
}

/* Widget Archive Style */

.widget.widget_archive select, .widget.widget_categories select, .widget.widget_text select{
	margin: 0px;
	width: 100%;
}

/* Widget Archive Style */

.widget_text .textwidget {
	padding: 0px;
}
.widget_text .textwidget h5 {
	text-transform: uppercase;
}
.widget_text .textwidget p {
	margin-bottom: 18px;
}
.default-btn {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 6px 20px;
}

/* Widget SEARCH Style */

.widget_search .cs-search-area {
	padding: 0px;
	width: 100%;
	position: relative;
}
.widget_search .cs-search-area input[type="text"] {
    float: left;
    font-size: 14px;
    height: 40px;
    padding-left: 20px;
    width: 100%;
    color: #666;
}
.widget_search .cs-search-area .search-submit {
    display: inline-block;
    margin: 0;
    position: absolute;
    right:0px;
    top: 0px;
}
.widget_search form label input[type="submit"] {
    border: medium none;
    border-radius: 0;
    text-indent: -999px;
    width: 40px;
    height:40px;
}
.widget_search .cs-search-area .search-submit:before {
    color: #fff;
    content: "\f002";
    font-family: "icomoon";
    font-size: 16px;
    left: 0;
    padding: 11px 13px;
    position: absolute;
    top:-4px;
    cursor: pointer;
}

/* Tag Cloud Style */

.tagcloud {
	float: left;
	width: 100%;
	margin-left: -5px;
}
.tagcloud a {
	float: left;
	font-size: 12px;
	font-weight: 400;
	margin: 0px 0px 5px 5px;
	color: #666;
	background-color: #f7f7f7;
	padding: 5px 10px;
	border-radius: 15px;
}
.tagcloud a:hover {
	color: #fff;
}


/*CS Directory Categoreies Style */

.cs_directory_categories {
	float: left;
	width: 100%;
	padding: 20px;
	border: 1px solid #eeeeee;
}
.cs_directory_categories ul li {
	float: left;
	width: 100%;
	padding: 8px 0;
	line-height: 20px;
}
.cs_directory_categories ul li i{
	margin: 0 8px 0 0;
}
.cs_directory_categories ul li:first-child{
	padding-top: 0px;
}
.cs_directory_categories ul li:last-child {
	padding-bottom: 0px;
}
.cs_directory_categories ul li a {
	font-size: 16px;
	color: #4f4a9c;
	float: left;
	line-height: 16px;
}
.cs_directory_categories ul li span {
    background-color: #f1f1f1;
    border-radius: 12px;
    color: #333333;
    display: inline;
    float: right;
    padding: 0 8px;
}
.cs_directory_categories ul li:hover span {
	color: #fff;
}
.cs_directory_categories .widget-section-title h4 {
	color:#444;
	font-weight:700;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #f0f0f0;
}
.widget_advertisment img {
	width: 100%;
}
