<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>更多项目</title>

<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
{% extends 'Base.html' %}
{% block content%}
	<div class="breadcrumb-sec" style="background:url(/static/assets/extra-images/banner.jpg) no-repeat; background-size:100% auto; min-height:157px!important;">
		<div class="absolute-sec">
			<div class="container">
				<div class="cs-table">
					<div class="cs-tablerow">
						<div class="pageinfo page-title-align-left">
							<h1 style="color:#fff !important; text-transform:none;">探索项目</h1>
							<strong style="text-align:center; display:block; color:#fff; font-weight:normal;" class="title">予人玫瑰，手有余香<br>这里有星空筹上发起的筹款项目。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Content -->
	<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="container">
					<div class="row">
						<div class="section-fullwidth col-lg-12">
							<div class="cs-content-holder">
								<div class="row">
								<div class="page-content col-lg-9">
									<div class="row">
										<div class="col-lg-12 main-filter">
											<nav class="wow filter-nav">
												<ul class="grid-filter">
												</ul>
											</nav>
										</div>

										<div class="listing_grid">
                                            {% if latest_projects_list %}
										{% for projects in latest_projects_list %}
										{% if projects.pjts_bool %}
											<article class="col-lg-4 col-md-4 col-sm-6">
												<div class="directory-section">
													<div class="cs_thumbsection">
														<figure><a href="{% url 'projects:detail' projects.id %}"><img src="/static/assets/extra-images/listing-grid-{{ forloop.counter }}.jpg" alt="#"></a></figure>
													</div>
													<div class="content_info">
														<div class="title">
															<h3><a href="{% url 'projects:detail' projects.id %}">{{ projects.pjts_name }}</a></h3>
															<span class="addr">{{ projects.pjts_users.phone_number }}</span> </div>
														<div class="dr_info">
															<ul>
																<li> <i class="cscolor icon-target5"></i>目标 {{ projects.pjts_coins |floatformat}}币</li>
																<li> <i class="cscolor icon-clock7"></i> {{ projects.pjts_time|date:"Y-m-d" }} </li>
															</ul>
														</div>
													</div>
												</div>
											</article>
											{% else %}
										    {% endif %}
										    {% endfor %}
										    {% else %}
										    暂无活动
										    {% endif %}

								        </div>
									</div>
								</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
</body>
</html>