<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>提示</title>

<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
{% extends 'Base.html' %}
{% block content%}
	<div class="breadcrumb-sec" style="background:url(/static/assets/extra-images/banner.jpg) no-repeat; background-size:100% auto; min-height:157px!important;">
		<div class="absolute-sec">
			<div class="container">
				<div class="cs-table">
					<div class="cs-tablerow">
						<div class="pageinfo page-title-align-left">
							<h1 style="color:#fff !important; text-transform:none;">{{ msg }}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Content -->
	<main id="main-content">
		<div class="main-section">
			<div class="page-section">
				<div class="container">
					<div class="row">
						 <div class="section-fullwidth col-lg-12">
						 	<div class="cs-content-holder">
								<div class="row">
									<div class="col-lg-12">
										<div class="page-not-found">
										  <div class="cs-icon">
                                              <img src="/static/assets/extra-images/162.gif" alt="#">
										  </div>
										  <div class="cs-content404">
										  <div class="desc">
											  <div class="site-maps-links">
													<h6>回到以下界面</h6>
													  <ul>
								<li><a href="{% url 'index:index' %}">首页</a></li>
								<li><a href="{% url 'projects:show' %}">更多项目</a></li>
								<li><a href="{% url 'usermana:index' %}">志愿活动</a></li>
													  </ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{% endblock %}

</body>
</html>