<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Css (necessary Css) -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/assets/css/language-selector-remove-able-css.css" rel="stylesheet">
<link href="/static/assets/css/flexslider.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link href="/static/plugin.css" rel="stylesheet">
<link href="/static/assets/css/menu.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">
<link href="/static/assets/css/color.css" rel="stylesheet">
<link href="/static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/assets/css/themetypo.css" rel="stylesheet">
<link href="/static/assets/css/widget.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <header id="main-header">
    <div class="container">
    <div class="main-head">
      <div class="left-side">
        <div class="logo"><a href="{% url 'index:index' %}"><img src="/assets/images/logo.png" alt=""></a></div>
        <nav class="navigation">
          <ul>
            <li><a href="{% url 'index:index' %}">首页</a></li>
            <li><a href="{% url 'projects:show' %}">更多项目</a>
            </li>
            <li><a href="{% url 'usermana:index' %}">志愿活动</a></li>
            <li><a href="#">公告</a>
              <ul class="sub-dropdown">
                <li><a href="{% url 'usermana:scharge' %}">手续费规则</a></li>
                <li><a href="{% url 'index:aboutus' %}">关于我们</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="right-side">
        <div class="cs-search-block">
        </div>
        <div class="profile-view">
          <ul>
            <li>
                {% if request.session.is_login %}
              <img alt="#" src="/static/assets/extra-images/user-img.jpg">
              <i class="icon-arrow-down8"></i>
              <div class="dropdown-area">
                <h5>{{ request.session.username }}</h5>
                <ul class="dropdown">

                  <li><a href="{% url 'accounts:donate' %}"><i class="icon-file-text-o"></i>我的捐赠</a></li>
                  <li><a href="{% url 'accounts:index' %}"><i class="icon-ticket6"></i>我的项目</a></li>
                  <li><a href="{% url 'projects:start' %}"><i class="icon-plus6"></i>发起新项目</a></li>
                    <li><a href="{% url 'usermana:start' %}"><i class="icon-pie2"></i>记录志愿活动</a></li>
                </ul>
                <a class="sign-btn" href="{% url 'login:logout' %}"><i class="icon-logout"></i>注销</a>
              </div>
                {% else %}
            </li>
          </ul>
        </div>
        <a href="{% url 'login:register' %}" class="free-btn">免费开始</a> </div>
    </div>
    <div class="mob-nav"></div>
    </div>
      {% endif %}
  </header>
    {% block content%}

    {% endblock %}
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="footer_icon"><a href="#"><img src="/static/assets/images/footer-logo.png" alt=""></a></div>
					<div class="fnav-area">
						<nav class="footer-nav">
							<ul>
								<li><a href="{% url 'index:index' %}">首页</a></li>
								<li><a href="{% url 'projects:show' %}">更多项目</a></li>
								<li><a href="{% url 'usermana:index' %}">志愿活动</a></li>
							</ul>
						</nav>
						<p>©2014 Box Theme All rights reserved. Design by <a href="http://www.jqueryfuns.com">Chimp Studio</a></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="social-media">
						<ul>
							<li><a href="#"><i class="icon-facebook7"></i></a></li>
							<li><a href="#"><i class="icon-twitter6"></i></a></li>
							<li><a href="#"><i class="icon-googleplus7"></i></a></li>
							<li><a href="#"><i class="icon-instagram4"></i></a></li>
							<li><a href="#"><i class="icon-youtube-play"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// CopyRight //-->

</div>
<script src="/static/assets/scripts/jquery.js"></script>
<script src="/static/assets/scripts/bootstrap.min.js"></script>
<script src="/static/assets/scripts/modernizr.js"></script>
<script src="/static/assets/scripts/menu.js"></script>
<script src="/static/assets/scripts/jquery.flexslider-min.js"></script>
<script src="/static/assets/scripts/functions.js"></script>
<script >
	jQuery(window).load(function(){
		jQuery('.flexslider').flexslider({
			animation: "slide",
			controlNav: false,
			prevText:"<em class='icon-arrow-left10'></em>",
			nextText:"<em class='icon-arrow-right10'></em>",
			start: function(slider){
				jQuery('body').removeClass('loading');
			}
		});
	});
</script>
</body>
</html>